/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
/*
#map {
    height: 100%;
    width: 100%;
    insert new comment
}*/

#map{
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0px;


}
#sidebar{
    width:23%;
    float:left;
    display: table-column;
}

.label
{
    width: 100%;
    display: none;
    background-color: #ccccff;
    text-align: center;
    border: 1px solid #0f0f0f;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}