/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
/*
#map {
    height: 100%;
    width: 100%;
    insert new comment
}*/

#map{
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0px;
    right: 0px;


}
#sidebar{
    width:20%;
    height: 100%;
    float:left;
    display: table-column;
    overflow-y: scroll;
}

.label
{
    width: 100%;
    display: none;
    background-color: #ccccff;
    text-align: center;
    border: 1px solid #0f0f0f;
}

#legend {
    background-color: #FFF;
    margin: 10px;
    padding: 5px;
    width: 150px;
}

#legend p {
    font-weight: bold;
    margin-top: 3px;
}

#legend div {
    clear: both;
}
.color {
    height: 12px;
    width: 12px;
    margin-right: 3px;
    float: left;
    display: block;
}

/* Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}